<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Add Province</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>New Province</h1>
    <div class="col-md-auto">
        <form th:object="${province}" th:action="@{save}" action="#" method="post">
<!--            <div>-->
<!--                <label th:text="ProvinceId" th:for="provinceId"></label>-->
<!--                <input type="text" th:field="*{provinceId}" class="form-control" placeholder="Province Id"/>-->
<!--            </div>-->
<!--            <div style="clear: both; display: block; height: 10px"></div>-->
            <div>
                <label th:text="ProvinceName" th:for="provinceName"></label>
                <input type="text" th:field="*{provinceName}" class="form-control" placeholder="Province Name"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="Region" th:for="region"></label>
                <input type="text" th:field="*{region}" class="form-control" placeholder="Region"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <input type="submit" class="btn btn-success" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>